<ion-header>
  <ion-toolbar>
    <ion-title>Modifier une tâche</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="todoForm">
    <ion-item>
      <ion-input
        label="Titre"
        labelPlacement="stacked"
        formControlName="title"
        placeholder="Titre de la tâche">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Description"
        labelPlacement="stacked"
        formControlName="description"
        placeholder="Description">
      </ion-input>
    </ion-item>

    <ion-button expand="block" [disabled]="todoForm.invalid" (click)="onSave()">
      Enregistrer
    </ion-button>
  </form>
</ion-content>
